include ../mixins/post
include ../mixins/sub
- var subs = []
doctype html
html
  head
    meta(charset='UTF-8')
    title reddit
    link(rel='stylesheet', href='/styles.css')

  +subMgmt()
  script.
    function updateButton(sub) {
      var b = document.getElementById("button-container");
      b.innerHTML = '';

      const button = document.createElement("button");

      if (issub(sub)) {
         button.innerText = "unsubscribe";
         button.onclick = ()=>unsubscribe(sub);
      } else {
         button.innerText = "subscribe";
         button.onclick = ()=>subscribe(sub);
      }
      b.appendChild(button);
    }

    document.addEventListener('DOMContentLoaded', ()=>updateButton("#{subreddit}"));
  body
    main#content
      div.header
        div.header-item
          a(href=`/`) home
        div.header-item
          a(href=`/subs`) subscriptions

      div.hero
        a(href=`/r/${subreddit}`)
          h1 r/#{subreddit}
        if about
          p #{about.public_description}
        div#button-container

      each child in posts.posts
        +post(child.data)

    script(src='https://unpkg.com/htmx.org@1.9.10')
