- var subs = []
doctype html
html
  head
    meta(charset='UTF-8')
    title reddit
    link(rel='stylesheet', href='/styles.css')
  script.
    function getSubs() {
      var store = localStorage.getItem('subs');
      if (store) {
        return store.split(',').map((n)=>n.replace(/\/?r\//,''));
      } else {
        return [];
      }
    }

    function subscribe(newsub) {
      var subs = getSubs();
      if (!subs.includes(newsub)) {
        localStorage.setItem('subs',[...subs,newsub]);
      }
    }

    function newSubItem(newsub) {
      var p = document.createElement("p");
      var text = document.createTextNode(newsub);
      p.appendChild(text);
      return p;
    }

    function genSubListing() {
      const body = document.body;
      const subbar = document.createElement('div');
      subbar.id = 'subscriptions';
      body.insertBefore(subbar, body.firstChild);
      getSubs().forEach((item) => {
        subbar.appendChild(newSubItem(item));
      });
    }

    document.addEventListener('DOMContentLoaded', function() {
      genSubListing();
    });
  body

    main#content
      div.header
        a(href=`/r/${subreddit}`)
          h1 r/#{subreddit}
        if about
          p #{about.public_description}
        button(onclick=`subscribe("${subreddit}")`) subscribe

      each child in posts.posts
        include post
        +post(child.data)

    script(src='https://unpkg.com/htmx.org@1.9.10')
