include ../mixins/head

doctype html
html
  +head("login")
  body
    main#content
      h1 login
      if message
        div.register-error-message
          | #{message}
      - var url = redirect ? `/login?redirect=${redirect}` : '/login'
      form(action=url method="post")
        div.input-text
          label(for="username") username
          input(type="text" name="username" required)
        div.input-text
          label(for="password") password
          input(type="password" name="password" required)
        div.submit-button
          button(type="submit") login
        div
          p 
            | don't have an account?&nbsp;
            a(href="/register") register

