include ../mixins/head
doctype html
html
  +head("home")
  body
    div.media-maximized-container
      if kind == 'img'
        img(src=url).media-maximized
      else
        video(src=url controls).media-maximized
