include ../mixins/header
include ../mixins/head

doctype html
html
  +head("subscriptions")
  body
    main#content
      +header(user)
      div.hero
        h1 subscriptions
        p
          each s in subs 
            a(href=`/r/${s.subreddit}`) 
              | r/#{s.subreddit}
            br
