@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer-item {
  margin-left: auto;
}

nav {
  display: flex;
  align-items: stretch;
}

.post, .comments-container, .hero, .header, .footer {
  padding: 0.3rem;
  flex: 1 1 95%;
  font-size: 1rem;
  width: 100%;
}

.info-container, .comment-info-container, .more {
  color: #777;
  font-size: 0.8rem;
  display: flex;
}

.domain {
  color: #777;
  font-size: 0.6rem;
}

.info-item, .header-item, .footer-item {
  margin-right: 14px;
}

.header-item, .footer-item {
  position: relative; /* Needed for positioning the pseudo-element */
}

.header-item:not(:last-child)::after {
  content: "·"; /* Middle dot as the separator */
  position: absolute;
  right: -10px; /* Adjust position as needed */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  color: #888; /* Separator color */
  font-size: 20px; /* Adjust size of the separator */
}

.media-preview img {
  object-fit: cover;
}

.media-preview img,
.media-preview video {
  width: 4rem;
  height: 4rem;
}

.post-author {
  display: none
}

@media (min-width: 768px) {
  .post, .comments-container, .hero, .header, .footer {
    flex: 1 1 90%;
    width: 90%;
    font-size: 1rem;
  }
  .info-container, .comment-info-container, .more {
    font-size: 0.9rem;
  }
  .domain {
    font-size: 0.9rem;
  }
  .media-preview img,
  .media-preview video 
  {
    width: 7rem;
    height: 7rem;
  }
  .post-author {
    display: inline
  }
}

@media (min-width: 1080px) {
  .post, .comments-container, .hero, .header, .footer {
    flex: 1 1 50%;
    width: 50%;
    font-size: 1rem;
  }
  .info-container, .comment-info-container, .more {
    font-size: 0.9rem;
  }
  .domain {
    font-size: 0.9rem;
  }
  .media-preview img,
  .media-preview video 
  {
    width: 7rem;
    height: 7rem;
  }
  .post-author {
    display: inline
  }
}

.comments-container, .self-text {
  text-align: justify;
}

.comment, .more {
  width: 100%;
  border-left: 1px dashed;
  padding: 10px 0px 0px 24px;
  box-sizing: border-box;
}

.comment {
  padding: 0px 0px 0px 24px;
}

.more {
  margin-bottom: 0px;
  color: #777;
}

.first {
  border-left: none;
  padding-left: 0;
  margin: 0;
  margin-top: 40px;
}

.post-container {
  align-self: stretch;
  display: flex;
}

.post-text {
  flex-direction: column;      
  align-items: stretch;        
  justify-content: space-between;
}

.media-preview {
  padding-left: 10px;
  margin-left: auto;
}

.bottom-links-container {
  display: flex;
  flex-direction: row;
}

.post-media {
  display: block;
  margin: 0 auto;
  max-width: 85%;
}

.title-container,.info-container, .comment-info-container {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-container > a {
  color: black;
  text-decoration: none;
}

.title-container > a:visited {
  color: #999;
}

hr {
  border 1px solid #000;
}

blockquote {
  margin: 0px;
  padding-left: 10px;
  border-left: 4px solid green;
  color: green;
}

pre, code {
  background: #eee;
}

pre {
  padding: 10px;
  width: 100%;
  overflow: auto;
}

code {
  overflow-x: auto;
}

p {
  margin-top: 5px;
}

.comment-body {
  text-align: left;
}

summary {
  display: none;
}

.footer {
  padding-bottom: 40px;
}

a {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

