@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Light mode colors */
  --bg-color: white;
  --bg-color-muted: #eee;
  --text-color: black;
  --text-color-muted: #999;
  --blockquote-color: green;
  --link-color: blue;
  --link-visited-color: purple;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --bg-color-muted: #333;
    --text-color: white;
    --text-color-muted: #999;
    --blockquote-color: lightgreen;
    --link-color: lightblue;
    --link-visited-color: violet;
  }
}


body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited-color);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sub-title {
  display: flex;
}

#button-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.sort-opts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-opts a {
  margin: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer-item {
  margin-left: auto;
}

nav {
  display: flex;
  align-items: stretch;
}

.post, .comments-container, .hero, .header, .footer {
  padding: 0.3rem;
  flex: 1 1 95%;
  width: 100%;
}

.post, .hero {
  font-size: 1rem;
}

.comments-container {
  font-size: 1rem;
}

.info-container a,
.info-container,
.comment-info-container,
.more,
summary.expand-comments::before,
hr {
  color: var(--text-color-muted)
}

.info-container, .more {
  font-size: 0.8rem;
  display: flex;
}

.comment-info-container {
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
}

.domain {
  color: var(--text-color-muted);
  font-size: 0.8rem;
}

.info-item, .header-item, .footer-item {
  margin-right: 14px;
}


.media-preview img,
.media-preview video {
  object-fit: cover;
}

.media-preview img,
.media-preview video {
  width: 4rem;
  height: 4rem;
}

.post-author {
  display: none
}

.post-media {
  display: block;
  margin: 0 auto;
  max-width: 95%;
  padding: 5px;
}

@media (min-width: 768px) {
  .post, .comments-container, .hero, .header, .footer {
    flex: 1 1 90%;
    width: 90%;
  }
  .post, .hero {
    font-size: 1.3rem;
  }
  .comments-container {
    font-size: 1.3rem;
  }
  .info-container, .comment-info-container, .more, summary.expand-comments::before
  {
    font-size: 1rem;
  }
  .domain {
    font-size: 1rem;
  }
  .media-preview img,
  .media-preview video 
  {
    width: 7rem;
    height: 7rem;
  }
  .post-author {
    display: inline
  }
  .post-media {
    max-width: 50%;
  }
}

@media (min-width: 1080px) {
  .post, .comments-container, .hero, .header, .footer {
    flex: 1 1 60%;
    width: 60%;
  }
  .post, .hero {
    font-size: 1.3rem;
  }
  .comments-container {
    font-size: 1.3rem;
  }
  .info-container, .comment-info-container, .more, summary.expand-comments::before {
    font-size: 1rem;
  }
  .domain {
    font-size: 1rem;
  }
  .media-preview img,
  .media-preview video 
  {
    width: 7rem;
    height: 7rem;
  }
  .post-author {
    display: inline
  }
  .post-media {
    max-width: 50%;
  }
}

.comments-container, .self-text {
  text-align: justify;
}

.comment, .more {
  width: 100%;
  border-left: 1px dashed var(--text-color-muted);
  padding: 10px 0px 0px 24px;
  box-sizing: border-box;
}

.comment {
  padding: 0px 0px 0px 24px;
}

.more {
  margin-bottom: 0px;
}

.first {
  border-left: none;
  padding-left: 0;
  margin: 0;
  margin-top: 40px;
}

.post-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-text {
  display: flex;
  flex-direction: column;      
  align-items: stretch;        
  justify-content: space-evenly;
}

.media-preview {
  padding-left: 10px;
  margin-left: auto;
}

.bottom-links-container {
  display: flex;
  flex-direction: row;
}

.title-container, .comment-info-container, summary.expand-comments::before {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-container {
  flex: 1;
}

.title-container > a {
  color: var(--text-color);
  text-decoration: none;
}

.title-container > a:hover {
  text-decoration: underline;
}

.title-container > a:visited {
  color: var(--text-color-muted)
}

.header a {
  color: var(--text-color);
}

hr {
  border 1px solid #000;
}

blockquote {
  margin: 0px;
  padding-left: 10px;
  border-left: 4px solid var(--blockquote-color);
  color: var(--blockquote-color);
}

pre, code {
  background: var(--bg-color-muted);
}

pre {
  padding: 10px 0px 10px 10px;
  width: 100%;
  overflow: auto;
}

code {
  overflow-x: auto;
}

p {
  margin-top: 5px;
}

.comment-body {
  text-align: left;
}

summary.expand-post {
  display: none;
}

summary.expand-comments {
  list-style: none;
  cursor: pointer;
}

summary.expand-comments::before {
  content: "[+] ";
}

details[open] summary.expand-comments::before {
  content: "[-] ";
}

details:not([open]) summary.expand-comments::before {
  content: "[+] ";
}

.comment-body {
  display: block;
}

.footer {
  padding-bottom: 40px;
}

a {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.gallery {
  display: flex;
  overflow-x: auto;
  position: relative;
  padding: 5px;
}

.gallery-item {
    flex: 0 0 auto;
    margin-right: 10px;
}

.gallery img {
    width: auto;
    max-height: 500px;
}
