:root {
  /* Light mode colors */
  --bg-color: white;
  --bg-color-muted: #eee;
  --text-color: black;
  --text-color-muted: #999;
  --blockquote-color: green;
  --link-color: #29BC9B;
  --link-visited-color: #999;
  --accent: var(--link-color);

  font-family: Inter, sans-serif;
  font-feature-settings: 'ss01' 1, 'kern' 1, 'liga' 1, 'cv05' 1, 'dlig' 1, 'ss01' 1, 'ss07' 1, 'ss08' 1;

}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --bg-color-muted: #333;
    --text-color: white;
    --text-color-muted: #999;
    --blockquote-color: lightgreen;
    --link-color: #79ffe1;
    --link-visited-color: #999;
    --accent: var(--link-color);
  }
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header a,
.sub-title a,
.info-container a,
.comment-info-container a,
.sort-opts a,
.more a {
  text-decoration: none;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited-color);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sub-title {
  display: flex;
}

#button-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.sorting {
  margin-top: 20px;
}

.sort-opts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-opts a {
  margin: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer-item {
  margin-left: auto;
}

nav {
  display: flex;
  align-items: stretch;
}

.post, .comments-container, .hero, .header, .footer {
  padding: 0.3rem;
  flex: 1 1 95%;
  width: 100%;
}

.post, .hero {
  font-size: 0.9rem;
}

.comments-container {
  font-size: 0.9rem;
}

.info-container a,
.info-container,
.comment-info-container,
.more,
summary::before
{
  color: var(--text-color-muted)
}

.info-container, .more {
  font-size: 0.8rem;
  display: flex;
}

summary::before {
  font-size: 0.7rem;
}

.comment-info-container {
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
}

.domain {
  color: var(--text-color-muted);
  font-size: 0.8rem;
}

.info-item, .header-item, .footer-item {
  margin-right: 14px;
}


.media-preview img,
.media-preview video {
  object-fit: cover;
}

.media-preview img,
.media-preview video {
  width: 4rem;
  height: 4rem;
}

.media-preview a {
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
}

.post-author {
  display: none
}

.post-media {
  display: block;
  margin: 0 auto;
  max-width: 95%;
  padding: 5px;
}

@media (min-width: 768px) {
  .post, .comments-container, .hero, .header, .footer {
    flex: 1 1 90%;
    width: 90%;
  }
  .media-preview img,
  .media-preview video 
  {
    width: 5rem;
    height: 5rem;
  }
  .post-author {
    display: inline
  }
  .post-media {
    max-width: 50%;
  }
}

@media (min-width: 1080px) {
  .post, .comments-container, .hero, .header, .footer {
    flex: 1 1 60%;
    width: 60%;
  }
  .media-preview img,
  .media-preview video 
  {
    width: 5rem;
    height: 5rem;
  }
  .media-preview a {
    font-size: 2rem;
    padding: 2rem;
  }
  .post-author {
    display: inline
  }
  .post-media {
    max-width: 50%;
  }
}

@media (min-width: 2560px) {
  .post, .comments-container, .hero, .header, .footer {
    flex: 1 1 40%;
    width: 40%;
  }
}

.comments-container, .self-text {
  text-align: justify;
}

.comment, .more {
  width: 100%;
  border-left: 1px dashed var(--text-color-muted);
  padding: 8px 0px 0px 18px;
  box-sizing: border-box;
}

.comment {
  padding-top: 10px;
}

.first {
  border-left: none;
  padding-left: 0;
  margin-top: 10px;
}

.post-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-text {
  display: flex;
  flex-direction: column;      
  align-items: stretch;        
  justify-content: space-evenly;
}

.media-preview {
  padding-left: 10px;
  margin-left: auto;
}

.bottom-links-container {
  display: flex;
  flex-direction: row;
}

.title-container, .comment-info-container, summary.expand-comments::before {
  margin-top: 5px;
  margin-bottom: 5px;
}

.info-container {
  flex: 1;
}

.title-container > a {
  color: var(--text-color);
  text-decoration: none;
}

.title-container > a:hover {
  text-decoration: underline;
}

.title-container > a:visited {
  color: var(--text-color-muted)
}

.header a,
.sort-opts a,
.sub-title a {
  color: var(--text-color);
}

.more a {
  color: var(--text-color-muted);
}

hr {
  border: none;
  border-top: 1px dashed var(--text-color-muted);
  height: 0;
}

blockquote {
  margin: 0px;
  padding-left: 10px;
  border-left: 4px solid var(--blockquote-color);
  color: var(--blockquote-color);
}

pre, code {
  background: var(--bg-color-muted);
}

pre {
  padding: 10px 0px 10px 10px;
  width: 100%;
  overflow: auto;
}

code {
  overflow-x: auto;
}

p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.self-text p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-body {
  text-align: left;
  display: block;
  padding-bottom: 8px;
}

.comment-body img {
  height: 200px;
  width: auto;
}

summary.expand-post {
  display: none;
}

summary {
  list-style: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary::before {
  content: "";
  padding-right: 10px;
}

details:not([open]) summary::before {
  content: "";
  padding-right: 10px;
}

.footer {
  padding-bottom: 40px;
}

a {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.gallery {
  display: flex;
  overflow-x: auto;
  position: relative;
  padding: 5px;
}

.gallery-item {
    flex: 0 0 auto;
    margin-right: 10px;
}

.gallery img {
    width: auto;
    max-height: 500px;
}

.post-title {
  margin-top: 5px;
}

.op {
  color: var(--accent);
}

button {
  border: 0px solid;
  border-radius: 4px;
  background-color: var(--bg-color-muted);
  color: var(--text-color);
  padding: 5px;
}
