mixin header(user)
  div.header
    div.header-item
      a(href=`/`) home
    div.header-item
      a(href=`/r/all`) all
    div.header-item
      a(href=`/search`) search
    div.header-item
      a(href=`/subs`) subs
    if user
      div.header-item
        a(href='/dashboard') #{user.username}
        |&nbsp;
        a(href='/logout') (logout)
    else
      div.header-item
        a(href=`/login`) login

