mixin header(user)
  div.header
    div.header-item
      a(href=`/`) home
    div.header-item
      a(href=`/r/all`) all
    div.header-item
      a(href=`/r/popular`) popular
    div.header-item
      a(href=`/subs`) subscriptions
    if user
      div.header-item
        | #{user.username}
        |&nbsp;
        a(href='/logout') (logout)
    else
      div.header-item
        a(href=`/login`) login

