mixin header()
  div.header
    div.header-item
      a(href=`/`) home
    div.header-item
      a(href=`/r/all`) all
    div.header-item
      a(href=`/r/popular`) popular
    div.header-item
      a(href=`/subs`) subscriptions

