mixin subMgmt()
  script.
    function getSubs() {
      var store = localStorage.getItem('subs');
      if (store) {
        return store.split(',').map((n)=>n.replace(/\/?r\//,''));
      } else {
        return [];
      }
    }

    function subscribe(newsub) {
      var subs = getSubs();
      if (!subs.includes(newsub)) {
        localStorage.setItem('subs',[...subs,newsub]);
        updateButton(newsub);
      }
    }

    function unsubscribe(sub) {
      var subs = getSubs();
      if (subs.includes(sub)) {
        localStorage.setItem('subs',subs.filter((s)=>s!=sub));
        updateButton(sub);
      }
    }

    function issub(sub) {
      return getSubs().includes(sub);
    }


